# Extract

In [3]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\mthsd\anaconda3\lib\site-packages (1.1.0)

In [6]:
import pymysql

conexao = pymysql.connect(host = "mariadb-149794-0.cloudclusters.net", port=19858, user="adm", passwd="adm@1234", database="viagens")

In [10]:
import pandas as pd

df = pd.read_sql("select * from destinos", conexao)
df.head()

C:\Users\mthsd\AppData\Local\Temp\ipykernel_9336\2395840348.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("select * from destinos", conexao)

,id,nome,descricao
0,1,Praia das Tartarugas,Uma bela praia com areias brancas e mar crista...
1,2,Cachoeira do Vale Verde,Uma cachoeira exuberante cercada por natureza
2,3,Cidade Histórica de Pedra Alta,Uma cidade rica em história e arquitetura
3,4,Bahia,Venha conhecer as mais bela praias

# Transform

In [18]:
#Filtrando dataframe para retirada de Bahia 
df = df[df["nome"] != "Bahia"]
df.head()

,id,nome,descricao
0,1,Praia das Tartarugas,Uma bela praia com areias brancas e mar crista...
1,2,Cachoeira do Vale Verde,Uma cachoeira exuberante cercada por natureza
2,3,Cidade Histórica de Pedra Alta,Uma cidade rica em história e arquitetura

In [24]:
#Adicionando coluna com link para reserva
df["reserva"] = "Pousada " + df['nome']
df.head()

,id,nome,descricao,reserva
0,1,Praia das Tartarugas,Uma bela praia com areias brancas e mar crista...,Pousada Praia das Tartarugas
1,2,Cachoeira do Vale Verde,Uma cachoeira exuberante cercada por natureza,Pousada Cachoeira do Vale Verde
2,3,Cidade Histórica de Pedra Alta,Uma cidade rica em história e arquitetura,Pousada Cidade Histórica de Pedra Alta

# Load

In [25]:
df.to_csv("desafio_etl.csv", index = False)